on init
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

on boot
    setprop ARGH ARGH
#    setprop net.eth0.dns1 10.0.2.3
#    setprop net.gprs.local-ip 10.0.2.15
    setprop ro.radio.use-ppp no
    setprop ro.build.product generic
    setprop ro.product.device generic

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# disable some daemons the emulator doesn't want
    stop dund
    stop akmd

# start essential services
    start fbset
    start svmp-logcat
    start netcfg
    start print-net

    setprop ro.setupwizard.mode EMULATOR

on fs
    mount_all /fstab.svmp
    setprop ro.crypto.fuse_sdcard true

# enable Google-specific location features,
# like NetworkLocationProvider and LocationCollector
    setprop ro.com.google.locationfeatures 1


###

on post-fs-data
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    mkdir /data/media 0770 media_rw media_rw

    setprop vold.post_fs_data_done 1

service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

# Enable networking so that adb can connect
service netcfg /system/bin/netcfg eth0 dhcp
    oneshot

# Print the network info to the dmesg console
service print-net /system/bin/print-netcfg
    oneshot

# pass in the resolution to be set x,y
service fbset /system/bin/logwrapper /system/bin/fbset 360 480 20.0
    oneshot
    class precore # start early

# Start sshd service
service start-ssh /system/bin/start-ssh
    oneshot

# Check if /data device mounted correctly
service check-data-dev /system/bin/remount.sh
    oneshot
